'to remove an number'
sam=0
num2=[]
num=[]
length=int(input("Enter the length:\n"))
while(sam<length):
    arr=int(input("Enter the {0}st value:\n".format(sam+1)))
    num.append(arr)
    sam=sam+1
print("Your {0} values are:\n{1}".format(length,num))

val=int(input("Enter the value to remove:\n"))
for i in num:
    if i==val:
        continue
    num2.append(i)
print("After removal your value is:",num2)



